body{
    background-image: url(../images/background.png);
    background-size: cover;
    font-family: 'DM Serif Display', serif;
}
#logo{
    background-color: transparent;
    width: 25%;
}
.container{
    background-color: azure;
    width: 50%;
    text-align: center;
    height: 450px;
}
button{
    font-size: 40px;
    background-color: azure;
    top: 50%;
    position: relative;
    top: 190px;
    padding-left: 30px;
    padding-right: 30px;
}
#timer{
    display: none;
    font-size: 30px;
}
#question{
    display: none;
}
.restart{
    display: none;
}
