body{
    background-image: url(../images/background.png);
    background-size: cover;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
}
#logo{
    background-color: transparent;
    width: 30%;
    margin-top:0;
    position: absolute;
}
.container{
    background-color: azure;
    width: 40%;
    text-align: center;
    height: 450px;
    margin-top:60px;
    box-shadow: 10px 10px 5px grey;
}
button{
    font-size: 40px;
    background-color: azure;
    position: relative;
    top: 190px;
    padding-left: 30px;
    padding-right: 30px;
}
#timer{
    display: none;
    font-size: 30px;
    margin-bottom: 20px;
}
#question{
    display: none;
    margin-bottom: 20px;
    padding:0;
}
.restart{
    display: none;
    top: 40px;
}
.possible-answer{
    height: auto;
    position: relative;
    font-size: 20px;
    top:0;
    border-radius: 25px;
    border: 2px solid teal;
}
.possible-answer:hover{
    background-color:#73AD21;
    font-size: 20px;
    color: white
}
p{
    font-size: 18px;
    z-index: 10;
}
#img-answer0{
    max-height:auto;
    max-width: auto;
    margin-top: 10px;
    display: none;
    position: absolute;
    left: 132px;
}
#img-answer{
    max-height:auto;
    max-width: auto;
    margin-top: 35px;
    margin-left:-20px;
    -webkit-animation: slide 0.5s forwards;
}
#answer-choices{
    padding: 0;
}
