body{
    background-image: url(../images/background.png);
    background-size: cover;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
}
#logo{
    background-color: transparent;
    width: 25%;
    margin-top:0;
    position: absolute;
}
.container{
    background-color: azure;
    width: 50%;
    text-align: center;
    height: 550px;
    margin-top:50px;
}
button{
    font-size: 40px;
    background-color: azure;
    position: relative;
    top: 190px;
    padding-left: 30px;
    padding-right: 30px;
}
#timer{
    display: none;
    font-size: 30px;
}
#question{
    display: none;
}
.restart{
    display: none;
    top: 40px;
}
.row{
    height: 40px;
    margin:20px;
}
p{
    font-size: 20px;
    z-index: 10;
}
#img-answer{
    max-width: 250px;
    height: auto;
    position: absolute;
}
